.b-body {
  @include antialias;
  background: {
    color: flexy-color(blue);
    image: linear-gradient(darken(flexy-color(blue), 5%), flexy-color(blue));
    repeat: no-repeat;
    position: 0 0;
  }
}
