$flexy-font: 'Source Sans Pro', $flexy-default-font;
$flexy-colors: map-merge($flexy-default-colors, (
  default: #41DF99,
  success: #41DF99,
  blue: #3445AA
));
$flexy-body-text-color: #fff;

// Application settings
